*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:burlywood;
}
.container{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    height: 100%;
    width: 100%;
}
.child{
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 20px solid black;
    padding:20rem;
    height: 50%;
}
