*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:burlywood;
}
.container{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    justify-content:center;
}