*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#click{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    font-size: large;
    border-radius: 30px 30px;
    border-color: black;
    padding: 2% 5%;

    font-weight: bold;
}
#click:hover{
    background-color:bisque;
    color:brown;
}